/* Moved .game-rules to the bottom */
.game-rules {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}
